 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 420px;
  margin: 60px auto 0 72px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 18px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 294px;
  min-height: 72px;
  height: auto;
  margin: 72px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -34px 0 0 auto;
}

.u-section-1 .u-line-1 {
  width: 314px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 81px auto 0;
  padding: 10px 17px 11px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5626em;
}

.u-section-1 .u-group-2 {
  width: 332px;
  min-height: 418px;
  height: auto;
  margin: -419px 69px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 8px;
}

.u-section-1 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-line-2 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 34px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-3 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 44px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 44px auto 0;
}

.u-section-1 .u-icon-4 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-5 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 44px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-6 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 44px auto 0;
}

.u-section-1 .u-icon-6 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-7 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 44px auto 0;
}

.u-section-1 .u-icon-7 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-line-8 {
  width: 247px;
  transform-origin: left center 0px;
  margin: 45px auto 0;
}

.u-section-1 .u-icon-8 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 14px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    margin-right: 8px;
  }
}