.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -15px auto 40px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 734px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 236px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  margin: 61px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 734px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 113px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 605px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 695px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 438px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-2 .u-image-1 {
  height: 508px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 1px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 79px 15px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-2 .u-text-2 {
  margin: 29px 9px 0;
}

.u-section-2 .u-text-3 {
  margin: 59px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    height: 409px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-2 .u-image-1 {
    height: 658px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 518px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-2 .u-image-1 {
    height: 319px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 723px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  height: 539px;
  width: 1029px;
  margin: 51px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 336px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-4 .u-image-1 {
  width: 471px;
  height: 345px;
  margin: 22px auto -31px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-4 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 43px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 33px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: 43px 121px 0 auto;
}

.u-section-4 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 271px;
  min-width: 127px;
  white-space: nowrap;
  margin: -50px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 277px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 414px;
    height: 303px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 234px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}