@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(../src/img/Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.form-box{
    position: relative;
    width: 400px;
    height: 500px;
    background: rgb(178, 223, 152);
    border: 2px solid rgb(0, 41, 51);
    backdrop-filter: blur(5px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    overflow: hidden;
    transition-duration: 2s;
}

h1{
    font-size: 2.5em;
    text-align: center;
    color: rgb(0, 41, 51);
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid rgb(0, 41, 51);
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgb(0, 41, 51);
    font-size: 1em;
    pointer-events: none;
    transition-duration: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    top: 50%;
    left: 5px;
    transition-duration: 2s;
}

.inputbox input:focus{
    border-bottom: 2px solid rgb(0, 41, 51);
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    top: 20px;
    font-size: 1.2em;
    color: rgb(0, 41, 51);
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: rgb(0, 41, 51);
    text-align: center;

}

.forget label input{
    margin: 5px 5px;
    cursor: pointer;
}

.forget a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.forget a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: rgb(35, 135, 54);
    border: none;
    outline: none;
    border-radius: 35px;
    color: rgb(0, 41, 51);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .5s;
}

.register{
    margin: 25px 0 10px;
    font-size: .9em;
    color: rgb(0, 41, 51);
    text-align: center;
}

.register a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.register a:hover{
    text-decoration: underline;
}